

body{
  margin:0;
  text-align: center;
  font-family:verdana,sans-serif;
}

h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 120px;
}
h2{
  font-size: 40px;
  font-weight: normal;
  line-height: 2;
  margin: 0;
}

.top-container{
  background-color:#d4ebd0;
  position:relative;
  padding-top:100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
}
.footer-link{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

.top-cloud{
  position:absolute;
  right:  300px;
  top: 50px;
}
.bottom-cloud{
  bottom: 300px;
  left: 300px;
  position:absolute;
}
.man{
  margin-top: 100px;
  height:200px;
  width: 200px;
}
h3{
  color: #11999E;
  text-align: left;
}
a{
  color: #11999E;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto ;
}
.sleep{
  width:25%;
  float:left;
  margin-right: 30px;

}

.eating{
  height:120px;
  width: 25%;
  float: right;
  margin-left:  30px;
}
p{
  width:50%;
  margin: 10px auto 10px auto;
  text-align: center;
  text-align: left;

}
.abc{
  width:50%;
  margin: 40px auto 10px auto;
  text-align: center;

}
.ab{
  width:50%;
  margin: 10px auto 10px auto;
  text-align: center;
}
.abcd{
  text-align: center;
}

hr{
  border-top: 5px;
  width:10%;
  color: #11999E;
  border-style: dotted;
  margin-top: 100px;
  margin-bottom: 100px;

}


.myButton {
	box-shadow: 3px 0 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:28px;
	border:5px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:16px 51px;
	text-decoration:none;
	text-shadow:0 7px 0 #3d768a;
  margin-top: 50px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
span{
  text-decoration: underline;
}
